:root {
    --accent-color: #FF0070;
    --accent-color-opacity: #FF007066;
    --title-color: #DB00FF;
    --bg-color: #000028;
    --text-color-1: #F1B2CE;
    --text-color-2: var(--bg-color);
    --text-color-3: var(--accent-color);
    --is-light: visible;
    --font-family: 'IBM Plex mono', monospace;
    --font-size: 18px;
    --small-line-height: 83%;
    --regular-line-height: 100%;
    --large-line-height: 130%;
    --bold-font-weight: 700;
    --regular-font-weight: 400;
}